<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag "16by16.ico" %>
  <%= favicon_link_tag "32by32.ico" %>
  <%= favicon_link_tag "48by48.ico" %>
  <meta name="keywords" content="hacker, hacking, fiddles, debug, scss, sass, less, coffeescript, nodejs, angularjs, angular, js, node, html, css, ftp, app, application, iphone, ipod, ipad, apple" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
